<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <ul>
      <% if (locals.trainers){ %> <% trainers.forEach((trainer)=>{ %>
      <li>
        <a href="/trainer">Trainer</a>:
        <a href="/trainer/<%= trainer.id%>"><%= trainer.trainer_name %></a>
      </li>
      <% })} %>
    </ul>
    <ul>
      <% if (locals.pokemons){ %> <% pokemons.forEach((pokemon)=>{ %>
      <li>
        <a href="/pokemon">Pokemons</a>:
        <a href="/pokemon/<%= pokemon.id%>"><%= pokemon.pokemon_name %></a>
      </li>
      <% })} %>
    </ul>
    <ul>
      <% if (locals.types){ %> <% types.forEach((type)=>{ %>
      <li>
        <a href="/type">Types</a>:
        <a href="/type/<%= type.id %>"><%= type.type_name %></a>
      </li>
      <% })} %>
    </ul>
    <form action="/" method="post">
      <a
        type="submit"
        onclick="return confirm('Are you sure you want to delete all records?')"
        ><button>Delete</button></a
      >
    </form>
  </body>
</html>
